#footer{
	background-color:#2e004d;
	color:white;
}
#round1{
background-color:#fffeea;
box-shadow: 40px 40px 40px 40px grey;
padding: 30px;
margin:30px;
}
#round2{
background-color:#fffeea;
box-shadow: 40px 40px 40px 40px grey;
padding: 30px;
margin:30px;
}
#round3{
background-color:#fffeea;
box-shadow: 40px 40px 40px 40px grey;
padding: 30px;
margin:30px;
}


	
